// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
$body-font-family: "Lobster";
$heading-font-family: "Josefin+Sans";
$font-size-root: 20px;

@import "~vuetify/src/styles/styles.sass";
