// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

@font-face {
  font-family: "MYRIADPRO";
  src: local("MYRIADPRO"),
    url(~assets/fonts/myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF)
      format("truetype");
}

$body-font-family: "MYRIADPRO";
$heading-font-family: "Josefin+Sans";
$font-size-root: 20px;

@import "~vuetify/src/styles/styles.sass";
